.split-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.split-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border: 2px solid white;
    background-color: rgb(86, 86, 86);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.split-info {
    font-size: 8px;
    font-weight: lighter;
}


.split-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    margin-top: 15px;
}